.container{
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* position: relative; */
}

h2{
    text-align: center;
    
}


.img{
    width: 100vw;
    height: 100vh;
    animation-name: image;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    position: fixed;
    left: 25%;
    top: 5%;
}

@keyframes image{
    0% {background-image: url(https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
    25%{background-image: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
    50%{background-image: url(https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
    100%{background-image: url(https://images.pexels.com/photos/709552/pexels-photo-709552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}
}